.main {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top:120px;
    align-items: center;
    align-content: center;
    justify-content: center;
    
  }
  .post {
    background-color: rgb(255,255,255);
    width: 450px;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    
  }
  .post img {
    width: 100%;
  }
  .post h1 {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color:#6db996;
  }
  .source{
      color:#6bc299;
      text-align: right;
  }