html,
body {
  padding: 0;
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(../public/knewsbg.png); 
    
    background-position: center;
    background-attachment: fixed;
    
   

}
h1{
  font-size:40px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.page-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
}